<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <title>PostIt - Create New Group</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <link href="css/custom.css" rel="stylesheet">

</head>

<body>
<div class = "container">

  <h2 class='text-center'>Create New Group</h2>

  <form class="postmessage">
    <div class="row">
                            
        <div class="col-md-12">
            <div class="form-group">
              <label for="subject">Group Name</label>
              <input type="text" class="form-control" name="subject" id="subject">
            </div>
        </div>

        <div class="col-sm-5">
          <div class="well">

            <ul class="list-group" id="list1">
              <li class="list-group-item active">All Users<input title="toggle all" type="checkbox" class="all pull-right"></li>
              <li class="list-group-item">Second item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Third item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">More item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Another <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Third item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">More item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Another <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Third item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">More item <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Another <input type="checkbox" class="pull-right"></li>
                </ul>

          </div>
            
        </div>

        <div class="col-md-2 v-center">
          <button title="Send to list 2" class="btn btn-default center-block add"> > </button>
            <button title="Send to list 1" class="btn btn-default center-block remove"> < </i></button>
        </div>

        <div class="col-sm-5">
          <div class="well">

            <ul class="list-group" id="list2">
              <li class="list-group-item active">Users In Group <input title="toggle all" type="checkbox" class="all pull-right"></li>
              <li class="list-group-item">Alpha <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Charlie <input type="checkbox" class="pull-right"></li>
              <li class="list-group-item">Bravo <input type="checkbox" class="pull-right"></li>
        </ul>

          </div>
            
        </div>

        <div class="col-sm-12 text-center">
            <button type="submit" class="button">Create Group </button>
        </div>
                            
    </div>
  <!-- /.row -->

  </form>

</div>

<script src="js/move.js"></script>
</body>

</html>