body{
  background-color:#28827F;
  color:black;
  }

h2{
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  margin-top:40px;
  }

.centered{
  background-color: #fff;
  width:600px;
  margin:20px auto 0px auto;
  border:3px solid #b4b4b4;
}

.form{
  height:100%;
  box-sizing:border-box;
  padding:30px;
}

label{
  float:left;
}

.textbox{
  width:100%;
  height:40px;
  border-radius:8px;
  border: 1px solid grey;
  box-sizing:border-box;
  padding:10px;
  margin-top:10px;
  margin-bottom:5px;
}

.button{
  height:40px;
  width:30%;
  box-sizing:border-box;
  padding:10px;
  font-weight:bold;
  font-size: 12pt;
  margin-top:20px;
}

.post-message{
  width: 600px;
  margin:10px auto;
}

.big-label{
  font-size:14pt;
}

.radio-inline{
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  padding-right: 20px;
}

.well{
  height:350px;
  overflow:auto;
}

.list-group-item.active,.list-group-item.active:hover{
background-color:#6aa2a1;
border-color:#6aa2a1;
}

.v-center {
  height:300px;
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 450px;
}

.tab li {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.tabcontent {
    float: left;
    padding: 0px 30px;
    border: 1px solid #000;
    border-radius:5px;
    background-color:#fff;
}
    }
    .msg
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
    }

    .btn-panel
    {
        background: #f7f7f9;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }