body{
  background-color:#28827F;
  color:black;
  }

h2{
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  margin-top:40px;
  }

.centered{
  background-color: #fff;
  width:600px;
  margin:20px auto 0px auto;
  border:3px solid #b4b4b4;
}

.form{
  height:100%;
  box-sizing:border-box;
  padding:30px;
}

label{
  float:left;
}

.textbox{
  width:100%;
  height:40px;
  border-radius:8px;
  border: 1px solid grey;
  box-sizing:border-box;
  padding:10px;
  margin-top:10px;
  margin-bottom:5px;
}

.button{
  height:40px;
  width:30%;
  box-sizing:border-box;
  padding:10px;
  font-weight:bold;
  font-size: 12pt;
  margin-top:20px;
}

.post-message{
  width: 600px;
  margin:10px auto;
}

.big-label{
  font-size:14pt;
}

.radio-inline{
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  padding-right: 20px;
}

.well{
  height:350px;
  overflow:auto;
}

.list-group-item.active,.list-group-item.active:hover{
background-color:#6aa2a1;
border-color:#6aa2a1;
}

.v-center {
  height:300px;
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
}

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  height: 450px;
}

/* Style the buttons inside the tab */
.tab li {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #9d9d9d;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 30px;
    border: 1px solid #000;
    border-radius:5px;
    background-color:#fff;
}

.content{
  overflow:auto;
}

.tabcontent p{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.shift-button{
  margin-top:20px;
}




img{
  width: 50px;
  height: 50px;
}

    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
        padding:0;
        max-height: 400px;
        overflow: auto;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }


