$primary-color: #FFFFFF;
$font1: 'Gorditas';

html {
  background: $primary-color !important;
  height: 100% !important;
  box-sizing: border-box;
}

 body {
  height: 100% !important;
}

.login {
 min-height: 100% !important;
 width:100% !important;
 position: absolute;
}

.login-form {
  margin-top: 6%;
}

.message-board {
  height: 100% !important;
} 

.logo {
  font-family: $font1;
  color: $primary-color;
  padding: 10px;
  border-radius: 5px 20px 5px;
  border: 4px solid $primary-color;
}

.top-space {
  padding-top: 15%;
}

.link {
  padding:10px;
}

.nav-wrap {
  padding-left: 5%;
  padding-right: 5%;
}

.side-nav-bar {
  top:64px !important;
}

.tabcontent {
  padding: 5px 20px;
  height: 100% !important;
}
.single-msg {
  padding:5px;
  border-bottom:1px solid #ddd;
}
.msg-wrap {
  padding:10px;
  height:calc(100vh - 315px) !important;
  overflow: auto;
  border: 3px groove #69B5AE;
  border-radius: 15px;
  margin-bottom: 10px;
}

.msg {
  position: relative;
}

.msg-heading {
  color:#e53935;
  font-weight: 700;
  font-size:1.3rem;
}

.time {
  color:#bfbfbf;
}

textarea {
  height:4rem !important;
  padding:5px !important;
}

.send-msg {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-bottom: 0px;
}

.send-msg button {
  margin:10px 30px 5px;
}

.priority {
  margin-top:0.5rem;
}  

 .select-wrapper input.select-dropdown {
  margin:0;
} 

.modal {
  max-height:70%;
  padding: 15px;
}

.errors {
  margin-left: 40px;
}

 .input-field select {
  position:relative;
  width:100%;
  height:40px;
  opacity:1;
  pointer-events: auto;
} 

.search {
  margin-bottom: 5px;
}

input[type=search]:not(.browser-default) {
  border-bottom: none !important;
  margin: 0px !important;
  padding: 3px !important;
}

.search-icon {
  margin-top:10px;
}

.pagination {
  margin-bottom: -1px;
}

.search-btn {
  background: $primary-color;
  color: #000;
  width: 100%;
  padding: 0px;
  box-shadow: none !important;
}

.search-btn i {
  font-size: 24px;
}

.search-btn:hover {
  background-color: #f4f4f4;
}

.search-btn:focus {
  background-color: $primary-color;
} 

.no-user {
  margin-top: 50px;
}

.group-members {
  max-height:450px;
  overflow: auto;
}

.group-action {
  margin: 15px 20px 0px 0px;
}

.fgt-pwd {
  padding: 2% 14%;

  form {
    margin-top:20px;
    padding:20px;
  }

  .success {
    border-radius:10px;
    padding: 10px;
  }
}

.nav-row {
  margin-bottom: 0px !important;
  h5 {
    margin-top: 17px !important;
  }
}

.preloader-wrapper.active {
  height: 150px;
  width: 150px;
  margin:25%
}


@media only screen and (max-width: 500px) {
    .send-msg button {
        padding: 0px;
        margin:10px 0px 5px -15px;
    }  
  }
